---
import Layout from '../layouts/Layout.astro';
import AnimatedTitle from '../components/AnimatedTitle';
import Form from '../components/contact-page/Form';
---

<Layout title={`Contact - Aylin's Personal Website`}>
    <div class="pt-8 pb-10 overflow-hidden md:pb-20 lg:pt-[72px] lg:pb-[120px]">
        <div class="container">
            <AnimatedTitle
                title="Contact"
                className="mb-10 md:mb-20 lg:mb-[192px]"
                titleClassName="text-[64px] flex-shrink-0 leading-none font-Helvetica tracking-[1.59px] sm:text-[56px] md:text-[64px] lg:text-[88px] lg:tracking-[5.59px]"
                client:load
            />
            <Form client:load />
        </div>
    </div>
</Layout>
